{
    "swagger": "2.0",
    "info": {
        "title": "Farmbox",
        "version": "",
        "description": "This document describes the first version (V1) of Farmbox's API.\n\n## Sandbox\n\nAll requests during development can be done on the staging server (test.farmbox.cc), data changes made on this enviroment are not replicated to our production environment.\nBe warned that the Staging Database can be updated/reseted frequently without further notice.\n\n# Authentication\n\nWe support two authentication methods:\n\n## Client Token\n\nAuthentication is done using a specific Client Token generated for each individual Client. This method\nleverages a simple mechanism of authenticating on the behalf of the entire organization. This token is provided\nby us and you should add as a value to the `Authorization` header on each request.\n\n## Oauth 2 Authentication\n\nContact our technical support for information and credentials.\n\n____"
    },
    "host": "farmbox.cc",
    "basePath": "/api/v1",
    "schemes": [
        "http"
    ],
    "paths": {
        "/beaks": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "deleted_since": [],
                                "next_page_url": "http://host.com/api/v1/...",
                                "beaks": [
                                    {
                                        "id": 23,
                                        "name": "Bico X"
                                    }
                                ]
                            }
                        },
                        "schema": {
                            "type": "object",
                            "properties": {
                                "deleted_since": {
                                    "type": "array",
                                    "items": {}
                                },
                                "next_page_url": {
                                    "type": "string",
                                    "description": "URL for next page"
                                },
                                "beaks": {
                                    "type": "array",
                                    "items": {}
                                }
                            }
                        }
                    }
                },
                "summary": "Beaks List",
                "operationId": "Beaks List",
                "description": "Lists all beaks",
                "tags": [
                    "Structures"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/Query Base"
                        }
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/cultures": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": [
                                {
                                    "name": "Soja",
                                    "id": 42
                                }
                            ]
                        },
                        "schema": {
                            "type": "array",
                            "items": {}
                        }
                    }
                },
                "summary": "Culture List",
                "operationId": "Culture List",
                "description": "Lists all cultures",
                "tags": [
                    "Structures"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/Query Page"
                        }
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/cultures/{id}": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "name": "Soja",
                                "culture_id": 12,
                                "id": 42,
                                "updated_at": "2015-05-05T12:30:00",
                                "culture": {
                                    "name": "Soja",
                                    "id": 42
                                }
                            }
                        },
                        "schema": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "description": "Variety name"
                                },
                                "culture_id": {
                                    "type": "number",
                                    "description": "Culture identifier"
                                },
                                "id": {
                                    "type": "number",
                                    "description": "Variety identifier"
                                },
                                "updated_at": {
                                    "type": "string",
                                    "description": "Date from last update"
                                },
                                "culture": {
                                    "type": "object",
                                    "properties": {
                                        "name": {
                                            "type": "string",
                                            "description": "Culture name"
                                        },
                                        "id": {
                                            "type": "number",
                                            "description": "Culture identifier"
                                        }
                                    },
                                    "required": [
                                        "name",
                                        "id"
                                    ],
                                    "description": "Culture"
                                }
                            },
                            "required": [
                                "name",
                                "culture_id",
                                "id",
                                "updated_at",
                                "culture"
                            ]
                        }
                    }
                },
                "summary": "Variety Info",
                "operationId": "Variety Info",
                "description": "Info from a single variety",
                "tags": [
                    "Structures"
                ],
                "parameters": [],
                "produces": [
                    "application/json"
                ]
            },
            "put": {
                "responses": {
                    "201": {
                        "description": "Created",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "name": "Soja",
                                "culture_id": 12,
                                "id": 42,
                                "updated_at": "2015-05-05T12:30:00",
                                "culture": {
                                    "name": "Soja",
                                    "id": 42
                                }
                            }
                        },
                        "schema": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "description": "Variety name"
                                },
                                "culture_id": {
                                    "type": "number",
                                    "description": "Culture identifier"
                                },
                                "id": {
                                    "type": "number",
                                    "description": "Variety identifier"
                                },
                                "updated_at": {
                                    "type": "string",
                                    "description": "Date from last update"
                                },
                                "culture": {
                                    "type": "object",
                                    "properties": {
                                        "name": {
                                            "type": "string",
                                            "description": "Culture name"
                                        },
                                        "id": {
                                            "type": "number",
                                            "description": "Culture identifier"
                                        }
                                    },
                                    "required": [
                                        "name",
                                        "id"
                                    ],
                                    "description": "Culture"
                                }
                            },
                            "required": [
                                "name",
                                "culture_id",
                                "id",
                                "updated_at",
                                "culture"
                            ]
                        }
                    }
                },
                "summary": "Update Variety",
                "operationId": "Update Variety",
                "description": "Updates an existing variety",
                "tags": [
                    "Structures"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "description": "Variety name"
                                },
                                "culture_id": {
                                    "type": "number",
                                    "description": "Culture identifier"
                                }
                            },
                            "required": [
                                "name",
                                "culture_id"
                            ],
                            "example": {
                                "name": "Soja",
                                "culture_id": 12
                            }
                        }
                    }
                ],
                "produces": [
                    "application/json"
                ]
            },
            "delete": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {}
                    }
                },
                "summary": "Remove Variety",
                "operationId": "Remove Variety",
                "description": "Removes an existing variety",
                "tags": [
                    "Structures"
                ],
                "parameters": []
            }
        },
        "/varieties": {
            "post": {
                "responses": {
                    "201": {
                        "description": "Created",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "name": "Soja",
                                "culture_id": 12,
                                "id": 42,
                                "updated_at": "2015-05-05T12:30:00",
                                "culture": {
                                    "name": "Soja",
                                    "id": 42
                                }
                            }
                        },
                        "schema": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "description": "Variety name"
                                },
                                "culture_id": {
                                    "type": "number",
                                    "description": "Culture identifier"
                                },
                                "id": {
                                    "type": "number",
                                    "description": "Variety identifier"
                                },
                                "updated_at": {
                                    "type": "string",
                                    "description": "Date from last update"
                                },
                                "culture": {
                                    "type": "object",
                                    "properties": {
                                        "name": {
                                            "type": "string",
                                            "description": "Culture name"
                                        },
                                        "id": {
                                            "type": "number",
                                            "description": "Culture identifier"
                                        }
                                    },
                                    "required": [
                                        "name",
                                        "id"
                                    ],
                                    "description": "Culture"
                                }
                            },
                            "required": [
                                "name",
                                "culture_id",
                                "id",
                                "updated_at",
                                "culture"
                            ]
                        }
                    }
                },
                "summary": "Create Variety",
                "operationId": "Create Variety",
                "description": "Creates a new variety",
                "tags": [
                    "Structures"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "description": "Variety name"
                                },
                                "culture_id": {
                                    "type": "number",
                                    "description": "Culture identifier"
                                }
                            },
                            "required": [
                                "name",
                                "culture_id"
                            ],
                            "example": {
                                "name": "Soja",
                                "culture_id": 12
                            }
                        }
                    }
                ],
                "produces": [
                    "application/json"
                ]
            },
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "deleted_since": [],
                                "next_page_url": "http://host.com/api/v1/...",
                                "varieties": [
                                    {
                                        "name": "Soja",
                                        "culture_id": 12,
                                        "id": 42,
                                        "updated_at": "2015-05-05T12:30:00",
                                        "culture": {
                                            "name": "Soja",
                                            "id": 42
                                        }
                                    }
                                ]
                            }
                        },
                        "schema": {
                            "type": "object",
                            "properties": {
                                "deleted_since": {
                                    "type": "array",
                                    "items": {}
                                },
                                "next_page_url": {
                                    "type": "string",
                                    "description": "URL for next page"
                                },
                                "varieties": {
                                    "type": "array",
                                    "items": {}
                                }
                            }
                        }
                    }
                },
                "summary": "Variety List",
                "operationId": "Variety List",
                "description": "Lists all culture varieties",
                "tags": [
                    "Structures"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/Query Base"
                        }
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/varieties/changed_to_global": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "varieties_changed": [
                                    {
                                        "old_id": 12095,
                                        "new_id": 13811
                                    }
                                ]
                            }
                        },
                        "schema": {
                            "type": "object",
                            "properties": {
                                "varieties_changed": {
                                    "type": "array",
                                    "items": {}
                                }
                            }
                        }
                    }
                },
                "summary": "Varieties Changed to Global Ids",
                "operationId": "Varieties Changed to Global Ids",
                "description": "Lists all varieties that have changed their ID on the Globalization process",
                "tags": [
                    "Structures"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/Changed Variety"
                        }
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/equipments": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "deleted_since": [],
                                "next_page_url": "http://host.com/api/v1/...",
                                "equipments": [
                                    {
                                        "id": 23,
                                        "name": "Trator",
                                        "type": "air",
                                        "tank_volume": 23,
                                        "disabled": false,
                                        "farms": [
                                            {
                                                "id": 42,
                                                "name": "Fazenda Exemplo"
                                            }
                                        ]
                                    }
                                ]
                            }
                        },
                        "schema": {
                            "type": "object",
                            "properties": {
                                "deleted_since": {
                                    "type": "array",
                                    "items": {}
                                },
                                "next_page_url": {
                                    "type": "string",
                                    "description": "URL for next page"
                                },
                                "equipments": {
                                    "type": "array",
                                    "items": {}
                                }
                            }
                        }
                    }
                },
                "summary": "Equipments List",
                "operationId": "Equipments List",
                "description": "Lists all equipments",
                "tags": [
                    "Structures"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/Query Base"
                        }
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/farms": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "deleted_since": [],
                                "next_page_url": "http://host.com/api/v1/...",
                                "farms": [
                                    {
                                        "name": "Fazenda Exemplo",
                                        "cnpj_cpf": "01214556998",
                                        "ie": "123454566",
                                        "id": 42,
                                        "updated_at": "2015-05-05T12:30:00"
                                    }
                                ]
                            }
                        },
                        "schema": {
                            "type": "object",
                            "properties": {
                                "deleted_since": {
                                    "type": "array",
                                    "items": {}
                                },
                                "next_page_url": {
                                    "type": "string",
                                    "description": "URL for next page"
                                },
                                "farms": {
                                    "type": "array",
                                    "items": {}
                                }
                            }
                        }
                    }
                },
                "summary": "Farm List",
                "operationId": "Farm List",
                "description": "Lists all farms",
                "tags": [
                    "Structures"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/Query Base"
                        }
                    }
                ],
                "produces": [
                    "application/json"
                ]
            },
            "post": {
                "responses": {
                    "201": {
                        "description": "Created",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "name": "Fazenda Exemplo",
                                "cnpj_cpf": "01214556998",
                                "ie": "123454566",
                                "id": 42,
                                "updated_at": "2015-05-05T12:30:00"
                            }
                        },
                        "schema": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "description": "Farm name"
                                },
                                "cnpj_cpf": {
                                    "type": "string",
                                    "description": "Farm cpnj/cpf"
                                },
                                "ie": {
                                    "type": "string",
                                    "description": "Farm state registration"
                                },
                                "id": {
                                    "type": "number",
                                    "description": "Farm identifier"
                                },
                                "updated_at": {
                                    "type": "string",
                                    "description": "Date from last update"
                                }
                            },
                            "required": [
                                "name",
                                "id",
                                "updated_at"
                            ]
                        }
                    }
                },
                "summary": "Create Farm",
                "operationId": "Create Farm",
                "description": "Creates a new farm",
                "tags": [
                    "Structures"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "description": "Farm name"
                                },
                                "cnpj_cpf": {
                                    "type": "string",
                                    "description": "Farm cpnj/cpf"
                                },
                                "ie": {
                                    "type": "string",
                                    "description": "Farm state registration"
                                }
                            },
                            "required": [
                                "name"
                            ],
                            "example": {
                                "name": "Fazenda Exemplo",
                                "cnpj_cpf": "01214556998",
                                "ie": "123454566"
                            }
                        }
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/farms/{id}": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "name": "Fazenda Exemplo",
                                "cnpj_cpf": "01214556998",
                                "ie": "123454566",
                                "id": 42,
                                "updated_at": "2015-05-05T12:30:00"
                            }
                        },
                        "schema": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "description": "Farm name"
                                },
                                "cnpj_cpf": {
                                    "type": "string",
                                    "description": "Farm cpnj/cpf"
                                },
                                "ie": {
                                    "type": "string",
                                    "description": "Farm state registration"
                                },
                                "id": {
                                    "type": "number",
                                    "description": "Farm identifier"
                                },
                                "updated_at": {
                                    "type": "string",
                                    "description": "Date from last update"
                                }
                            },
                            "required": [
                                "name",
                                "id",
                                "updated_at"
                            ]
                        }
                    }
                },
                "summary": "Farm Info",
                "operationId": "Farm Info",
                "description": "Info from a single farm",
                "tags": [
                    "Structures"
                ],
                "parameters": [],
                "produces": [
                    "application/json"
                ]
            },
            "put": {
                "responses": {
                    "201": {
                        "description": "Created",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "name": "Fazenda Exemplo",
                                "cnpj_cpf": "01214556998",
                                "ie": "123454566",
                                "id": 42,
                                "updated_at": "2015-05-05T12:30:00"
                            }
                        },
                        "schema": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "description": "Farm name"
                                },
                                "cnpj_cpf": {
                                    "type": "string",
                                    "description": "Farm cpnj/cpf"
                                },
                                "ie": {
                                    "type": "string",
                                    "description": "Farm state registration"
                                },
                                "id": {
                                    "type": "number",
                                    "description": "Farm identifier"
                                },
                                "updated_at": {
                                    "type": "string",
                                    "description": "Date from last update"
                                }
                            },
                            "required": [
                                "name",
                                "id",
                                "updated_at"
                            ]
                        }
                    }
                },
                "summary": "Update Farm",
                "operationId": "Update Farm",
                "description": "Updates an existing farm",
                "tags": [
                    "Structures"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "description": "Farm name"
                                },
                                "cnpj_cpf": {
                                    "type": "string",
                                    "description": "Farm cpnj/cpf"
                                },
                                "ie": {
                                    "type": "string",
                                    "description": "Farm state registration"
                                }
                            },
                            "required": [
                                "name"
                            ],
                            "example": {
                                "name": "Fazenda Exemplo",
                                "cnpj_cpf": "01214556998",
                                "ie": "123454566"
                            }
                        }
                    }
                ],
                "produces": [
                    "application/json"
                ]
            },
            "delete": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {}
                    }
                },
                "summary": "Remove Farm",
                "operationId": "Remove Farm",
                "description": "Removes an existing farm",
                "tags": [
                    "Structures"
                ],
                "parameters": []
            }
        },
        "/harvests": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "deleted_since": [],
                                "next_page_url": "http://host.com/api/v1/...",
                                "harvests": [
                                    {
                                        "name": "Safra 2016",
                                        "id": 42,
                                        "updated_at": "2015-05-05T12:30:00"
                                    }
                                ]
                            }
                        },
                        "schema": {
                            "type": "object",
                            "properties": {
                                "deleted_since": {
                                    "type": "array",
                                    "items": {}
                                },
                                "next_page_url": {
                                    "type": "string",
                                    "description": "URL for next page"
                                },
                                "harvests": {
                                    "type": "array",
                                    "items": {}
                                }
                            }
                        }
                    }
                },
                "summary": "Harvest List",
                "operationId": "Harvest List",
                "description": "Lists all seasons",
                "tags": [
                    "Structures"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/Query Base"
                        }
                    }
                ],
                "produces": [
                    "application/json"
                ]
            },
            "post": {
                "responses": {
                    "201": {
                        "description": "Created",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "name": "Safra 2016",
                                "id": 42,
                                "updated_at": "2015-05-05T12:30:00"
                            }
                        },
                        "schema": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "description": "Harvest name"
                                },
                                "id": {
                                    "type": "number",
                                    "description": "Harvest identifier"
                                },
                                "updated_at": {
                                    "type": "string",
                                    "description": "Date from last update"
                                }
                            },
                            "required": [
                                "name",
                                "id",
                                "updated_at"
                            ]
                        }
                    }
                },
                "summary": "Create Harvest",
                "operationId": "Create Harvest",
                "description": "Creates a new harvest",
                "tags": [
                    "Structures"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "description": "Harvest name"
                                }
                            },
                            "required": [
                                "name"
                            ],
                            "example": {
                                "name": "Safra 2016"
                            }
                        }
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/harvests/{id}": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "name": "Safra 2016",
                                "id": 42,
                                "updated_at": "2015-05-05T12:30:00"
                            }
                        },
                        "schema": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "description": "Harvest name"
                                },
                                "id": {
                                    "type": "number",
                                    "description": "Harvest identifier"
                                },
                                "updated_at": {
                                    "type": "string",
                                    "description": "Date from last update"
                                }
                            },
                            "required": [
                                "name",
                                "id",
                                "updated_at"
                            ]
                        }
                    }
                },
                "summary": "Harvest Info",
                "operationId": "Harvest Info",
                "description": "Info from a single harvest",
                "tags": [
                    "Structures"
                ],
                "parameters": [],
                "produces": [
                    "application/json"
                ]
            },
            "put": {
                "responses": {
                    "201": {
                        "description": "Created",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "name": "Safra 2016",
                                "id": 42,
                                "updated_at": "2015-05-05T12:30:00"
                            }
                        },
                        "schema": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "description": "Harvest name"
                                },
                                "id": {
                                    "type": "number",
                                    "description": "Harvest identifier"
                                },
                                "updated_at": {
                                    "type": "string",
                                    "description": "Date from last update"
                                }
                            },
                            "required": [
                                "name",
                                "id",
                                "updated_at"
                            ]
                        }
                    }
                },
                "summary": "Update Harvest",
                "operationId": "Update Harvest",
                "description": "Updates an existing harvest",
                "tags": [
                    "Structures"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "description": "Harvest name"
                                }
                            },
                            "required": [
                                "name"
                            ],
                            "example": {
                                "name": "Safra 2016"
                            }
                        }
                    }
                ],
                "produces": [
                    "application/json"
                ]
            },
            "delete": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {}
                    }
                },
                "summary": "Remove Harvest",
                "operationId": "Remove Harvest",
                "description": "Removes an existing harvest",
                "tags": [
                    "Structures"
                ],
                "parameters": []
            }
        },
        "/phenological_stages": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "deleted_since": [],
                                "next_page_url": "http://host.com/api/v1/...",
                                "phenological_stages": [
                                    {
                                        "id": 1,
                                        "name": "Phenological State 1",
                                        "position": 1,
                                        "description": "Lorem ipsum",
                                        "ignore_infestations": false,
                                        "updated_at": "2015-05-05T12:30:00",
                                        "classification": 2,
                                        "classification_label": "Reprodutivo",
                                        "culture": {
                                            "name": "Soja",
                                            "id": 42
                                        }
                                    }
                                ]
                            }
                        },
                        "schema": {
                            "type": "object",
                            "properties": {
                                "deleted_since": {
                                    "type": "array",
                                    "items": {}
                                },
                                "next_page_url": {
                                    "type": "string",
                                    "description": "URL for next page"
                                },
                                "phenological_stages": {
                                    "type": "array",
                                    "items": {}
                                }
                            }
                        }
                    }
                },
                "summary": "Phenological Stage List",
                "operationId": "Phenological Stage List",
                "description": "Lists all phenological stages",
                "tags": [
                    "Structures"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/Query Base"
                        }
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/plantations": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "deleted_since": [],
                                "next_page_url": "http://host.com/api/v1/...",
                                "plantations": [
                                    {
                                        "farm_id": 23,
                                        "plot_id": 12,
                                        "harvest_id": 13,
                                        "variety_id": 14,
                                        "planned_variety_id": 14,
                                        "state": "'planned'",
                                        "date": "2015-05-05",
                                        "planned_date": "2015-05-05",
                                        "emergence_date": "2015-05-05",
                                        "area": 100,
                                        "geo_points": [
                                            {
                                                "latitude": 23233.23,
                                                "longitude": 5432323.23
                                            }
                                        ],
                                        "id": 42,
                                        "name": "Pivot 1",
                                        "farm_name": "Primavera",
                                        "variety_name": "TMB123",
                                        "planned_variety_name": "TMB123",
                                        "culture_name": "Algodão",
                                        "planned_culture_name": "Algodão",
                                        "harvest_name": "2016/2017",
                                        "phenological_stage": "R2",
                                        "phenological_stage_classification": "reproductive",
                                        "updated_at": "2015-05-05T12:30:00"
                                    }
                                ]
                            }
                        },
                        "schema": {
                            "type": "object",
                            "properties": {
                                "deleted_since": {
                                    "type": "array",
                                    "items": {}
                                },
                                "next_page_url": {
                                    "type": "string",
                                    "description": "URL for next page"
                                },
                                "plantations": {
                                    "type": "array",
                                    "items": {}
                                }
                            }
                        }
                    }
                },
                "summary": "Plantations List",
                "operationId": "Plantations List",
                "description": "Lists all active plantations (plots on harvests)",
                "tags": [
                    "Structures"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/Query Base"
                        }
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/plantation": {
            "post": {
                "responses": {
                    "201": {
                        "description": "Created",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "farm_id": 23,
                                "plot_id": 12,
                                "harvest_id": 13,
                                "variety_id": 14,
                                "planned_variety_id": 14,
                                "state": "'planned'",
                                "date": "2015-05-05",
                                "planned_date": "2015-05-05",
                                "emergence_date": "2015-05-05",
                                "area": 100,
                                "geo_points": [
                                    {
                                        "latitude": 23233.23,
                                        "longitude": 5432323.23
                                    }
                                ],
                                "id": 42,
                                "name": "Pivot 1",
                                "farm_name": "Primavera",
                                "variety_name": "TMB123",
                                "planned_variety_name": "TMB123",
                                "culture_name": "Algodão",
                                "planned_culture_name": "Algodão",
                                "harvest_name": "2016/2017",
                                "phenological_stage": "R2",
                                "phenological_stage_classification": "reproductive",
                                "updated_at": "2015-05-05T12:30:00"
                            }
                        },
                        "schema": {
                            "type": "object",
                            "properties": {
                                "farm_id": {
                                    "type": "number",
                                    "description": "Farm identifier"
                                },
                                "plot_id": {
                                    "type": "number",
                                    "description": "Plot identifier"
                                },
                                "harvest_id": {
                                    "type": "number",
                                    "description": "Harvest identifier"
                                },
                                "variety_id": {
                                    "type": "number",
                                    "description": "Variety identifier"
                                },
                                "planned_variety_id": {
                                    "type": "number",
                                    "description": "Planned Variety identifier"
                                },
                                "state": {
                                    "type": "string",
                                    "description": "State, valid options: planned, active"
                                },
                                "date": {
                                    "type": "string",
                                    "description": "Date executed seeding"
                                },
                                "planned_date": {
                                    "type": "string",
                                    "description": "Date planned seeding"
                                },
                                "emergence_date": {
                                    "type": "string",
                                    "description": "Emergence Date"
                                },
                                "area": {
                                    "type": "number",
                                    "description": "Area in ha"
                                },
                                "geo_points": {
                                    "type": "array",
                                    "description": "Polygon geo points",
                                    "items": {
                                        "$ref": "#/definitions/Geo Point Base"
                                    }
                                },
                                "id": {
                                    "type": "number",
                                    "description": "Plantation identifier (Plot on harvest)"
                                },
                                "name": {
                                    "type": "string",
                                    "description": "Plot name"
                                },
                                "farm_name": {
                                    "type": "string",
                                    "description": "Farm name"
                                },
                                "variety_name": {
                                    "type": "string",
                                    "description": "Variety name"
                                },
                                "planned_variety_name": {
                                    "type": "string",
                                    "description": "Planned Variety name"
                                },
                                "culture_name": {
                                    "type": "string",
                                    "description": "Culture name"
                                },
                                "planned_culture_name": {
                                    "type": "string",
                                    "description": "Planned Culture name"
                                },
                                "harvest_name": {
                                    "type": "string",
                                    "description": "Harvest name"
                                },
                                "phenological_stage": {
                                    "type": "string",
                                    "description": "Actual phenological stage name PENDING"
                                },
                                "phenological_stage_classification": {
                                    "type": "string",
                                    "description": "Actual phenological stage classification PENDING"
                                },
                                "updated_at": {
                                    "type": "string",
                                    "description": "Date from last update"
                                }
                            },
                            "required": [
                                "farm_id",
                                "plot_id",
                                "harvest_id",
                                "variety_id",
                                "planned_variety_id",
                                "state",
                                "date",
                                "planned_date",
                                "emergence_date",
                                "area",
                                "geo_points",
                                "id",
                                "name",
                                "farm_name",
                                "variety_name",
                                "planned_variety_name",
                                "culture_name",
                                "planned_culture_name",
                                "harvest_name",
                                "updated_at"
                            ]
                        }
                    }
                },
                "summary": "Create Plantation",
                "operationId": "Create Plantation",
                "description": "Creates a new plantation",
                "tags": [
                    "Structures"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "farm_id": {
                                    "type": "number",
                                    "description": "Farm identifier"
                                },
                                "plot_id": {
                                    "type": "number",
                                    "description": "Plot identifier"
                                },
                                "harvest_id": {
                                    "type": "number",
                                    "description": "Harvest identifier"
                                },
                                "variety_id": {
                                    "type": "number",
                                    "description": "Variety identifier"
                                },
                                "planned_variety_id": {
                                    "type": "number",
                                    "description": "Planned Variety identifier"
                                },
                                "state": {
                                    "type": "string",
                                    "description": "State, valid options: planned, active"
                                },
                                "date": {
                                    "type": "string",
                                    "description": "Date executed seeding"
                                },
                                "planned_date": {
                                    "type": "string",
                                    "description": "Date planned seeding"
                                },
                                "emergence_date": {
                                    "type": "string",
                                    "description": "Emergence Date"
                                },
                                "area": {
                                    "type": "number",
                                    "description": "Area in ha"
                                },
                                "geo_points": {
                                    "type": "array",
                                    "description": "Polygon geo points",
                                    "items": {
                                        "$ref": "#/definitions/Geo Point Base"
                                    }
                                }
                            },
                            "required": [
                                "farm_id",
                                "plot_id",
                                "harvest_id",
                                "variety_id",
                                "planned_variety_id",
                                "state",
                                "date",
                                "planned_date",
                                "emergence_date",
                                "area",
                                "geo_points"
                            ],
                            "example": {
                                "farm_id": 23,
                                "plot_id": 12,
                                "harvest_id": 13,
                                "variety_id": 14,
                                "planned_variety_id": 14,
                                "state": "'planned'",
                                "date": "2015-05-05",
                                "planned_date": "2015-05-05",
                                "emergence_date": "2015-05-05",
                                "area": 100,
                                "geo_points": [
                                    {
                                        "latitude": 23233.23,
                                        "longitude": 5432323.23
                                    }
                                ]
                            }
                        }
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/plantations/{id}": {
            "put": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "farm_id": 23,
                                "plot_id": 12,
                                "harvest_id": 13,
                                "variety_id": 14,
                                "planned_variety_id": 14,
                                "state": "'planned'",
                                "date": "2015-05-05",
                                "planned_date": "2015-05-05",
                                "emergence_date": "2015-05-05",
                                "area": 100,
                                "geo_points": [
                                    {
                                        "latitude": 23233.23,
                                        "longitude": 5432323.23
                                    }
                                ],
                                "id": 42,
                                "name": "Pivot 1",
                                "farm_name": "Primavera",
                                "variety_name": "TMB123",
                                "planned_variety_name": "TMB123",
                                "culture_name": "Algodão",
                                "planned_culture_name": "Algodão",
                                "harvest_name": "2016/2017",
                                "phenological_stage": "R2",
                                "phenological_stage_classification": "reproductive",
                                "updated_at": "2015-05-05T12:30:00"
                            }
                        },
                        "schema": {
                            "type": "object",
                            "properties": {
                                "farm_id": {
                                    "type": "number",
                                    "description": "Farm identifier"
                                },
                                "plot_id": {
                                    "type": "number",
                                    "description": "Plot identifier"
                                },
                                "harvest_id": {
                                    "type": "number",
                                    "description": "Harvest identifier"
                                },
                                "variety_id": {
                                    "type": "number",
                                    "description": "Variety identifier"
                                },
                                "planned_variety_id": {
                                    "type": "number",
                                    "description": "Planned Variety identifier"
                                },
                                "state": {
                                    "type": "string",
                                    "description": "State, valid options: planned, active"
                                },
                                "date": {
                                    "type": "string",
                                    "description": "Date executed seeding"
                                },
                                "planned_date": {
                                    "type": "string",
                                    "description": "Date planned seeding"
                                },
                                "emergence_date": {
                                    "type": "string",
                                    "description": "Emergence Date"
                                },
                                "area": {
                                    "type": "number",
                                    "description": "Area in ha"
                                },
                                "geo_points": {
                                    "type": "array",
                                    "description": "Polygon geo points",
                                    "items": {
                                        "$ref": "#/definitions/Geo Point Base"
                                    }
                                },
                                "id": {
                                    "type": "number",
                                    "description": "Plantation identifier (Plot on harvest)"
                                },
                                "name": {
                                    "type": "string",
                                    "description": "Plot name"
                                },
                                "farm_name": {
                                    "type": "string",
                                    "description": "Farm name"
                                },
                                "variety_name": {
                                    "type": "string",
                                    "description": "Variety name"
                                },
                                "planned_variety_name": {
                                    "type": "string",
                                    "description": "Planned Variety name"
                                },
                                "culture_name": {
                                    "type": "string",
                                    "description": "Culture name"
                                },
                                "planned_culture_name": {
                                    "type": "string",
                                    "description": "Planned Culture name"
                                },
                                "harvest_name": {
                                    "type": "string",
                                    "description": "Harvest name"
                                },
                                "phenological_stage": {
                                    "type": "string",
                                    "description": "Actual phenological stage name PENDING"
                                },
                                "phenological_stage_classification": {
                                    "type": "string",
                                    "description": "Actual phenological stage classification PENDING"
                                },
                                "updated_at": {
                                    "type": "string",
                                    "description": "Date from last update"
                                }
                            },
                            "required": [
                                "farm_id",
                                "plot_id",
                                "harvest_id",
                                "variety_id",
                                "planned_variety_id",
                                "state",
                                "date",
                                "planned_date",
                                "emergence_date",
                                "area",
                                "geo_points",
                                "id",
                                "name",
                                "farm_name",
                                "variety_name",
                                "planned_variety_name",
                                "culture_name",
                                "planned_culture_name",
                                "harvest_name",
                                "updated_at"
                            ]
                        }
                    }
                },
                "summary": "Update Plantation",
                "operationId": "Update Plantation",
                "description": "Updates an existing plantation",
                "tags": [
                    "Structures"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "farm_id": {
                                    "type": "number",
                                    "description": "Farm identifier"
                                },
                                "plot_id": {
                                    "type": "number",
                                    "description": "Plot identifier"
                                },
                                "harvest_id": {
                                    "type": "number",
                                    "description": "Harvest identifier"
                                },
                                "variety_id": {
                                    "type": "number",
                                    "description": "Variety identifier"
                                },
                                "planned_variety_id": {
                                    "type": "number",
                                    "description": "Planned Variety identifier"
                                },
                                "state": {
                                    "type": "string",
                                    "description": "State, valid options: planned, active"
                                },
                                "date": {
                                    "type": "string",
                                    "description": "Date executed seeding"
                                },
                                "planned_date": {
                                    "type": "string",
                                    "description": "Date planned seeding"
                                },
                                "emergence_date": {
                                    "type": "string",
                                    "description": "Emergence Date"
                                },
                                "area": {
                                    "type": "number",
                                    "description": "Area in ha"
                                },
                                "geo_points": {
                                    "type": "array",
                                    "description": "Polygon geo points",
                                    "items": {
                                        "$ref": "#/definitions/Geo Point Base"
                                    }
                                }
                            },
                            "required": [
                                "farm_id",
                                "plot_id",
                                "harvest_id",
                                "variety_id",
                                "planned_variety_id",
                                "state",
                                "date",
                                "planned_date",
                                "emergence_date",
                                "area",
                                "geo_points"
                            ],
                            "example": {
                                "farm_id": 23,
                                "plot_id": 12,
                                "harvest_id": 13,
                                "variety_id": 14,
                                "planned_variety_id": 14,
                                "state": "'planned'",
                                "date": "2015-05-05",
                                "planned_date": "2015-05-05",
                                "emergence_date": "2015-05-05",
                                "area": 100,
                                "geo_points": [
                                    {
                                        "latitude": 23233.23,
                                        "longitude": 5432323.23
                                    }
                                ]
                            }
                        }
                    }
                ],
                "produces": [
                    "application/json"
                ]
            },
            "delete": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {}
                    }
                },
                "summary": "Remove Plantation",
                "operationId": "Remove Plantation",
                "description": "Removes an existing plantation",
                "tags": [
                    "Structures"
                ],
                "parameters": []
            }
        },
        "/plots": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "deleted_since": [],
                                "next_page_url": "http://host.com/api/v1/...",
                                "plots": [
                                    {
                                        "name": "A1",
                                        "farm_id": 32,
                                        "area": 100,
                                        "geo_points": [
                                            {
                                                "latitude": 23233.23,
                                                "longitude": 5432323.23
                                            }
                                        ],
                                        "id": 42,
                                        "updated_at": "2015-05-05T12:30:00"
                                    }
                                ]
                            }
                        },
                        "schema": {
                            "type": "object",
                            "properties": {
                                "deleted_since": {
                                    "type": "array",
                                    "items": {}
                                },
                                "next_page_url": {
                                    "type": "string",
                                    "description": "URL for next page"
                                },
                                "plots": {
                                    "type": "array",
                                    "items": {}
                                }
                            }
                        }
                    }
                },
                "summary": "Plot List",
                "operationId": "Plot List",
                "description": "Lists all plots",
                "tags": [
                    "Structures"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/Query Base"
                        }
                    }
                ],
                "produces": [
                    "application/json"
                ]
            },
            "post": {
                "responses": {
                    "201": {
                        "description": "Created",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "name": "A1",
                                "farm_id": 32,
                                "area": 100,
                                "geo_points": [
                                    {
                                        "latitude": 23233.23,
                                        "longitude": 5432323.23
                                    }
                                ],
                                "id": 42,
                                "updated_at": "2015-05-05T12:30:00"
                            }
                        },
                        "schema": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "description": "Plot name"
                                },
                                "farm_id": {
                                    "type": "number",
                                    "description": "Farm identifier"
                                },
                                "area": {
                                    "type": "number",
                                    "description": "Area in ha"
                                },
                                "geo_points": {
                                    "type": "array",
                                    "description": "Polygon geo points",
                                    "items": {
                                        "$ref": "#/definitions/Geo Point Base"
                                    }
                                },
                                "id": {
                                    "type": "number",
                                    "description": "Plot identifier"
                                },
                                "updated_at": {
                                    "type": "string",
                                    "description": "Date from last update"
                                }
                            },
                            "required": [
                                "name",
                                "farm_id",
                                "area",
                                "geo_points",
                                "id",
                                "updated_at"
                            ]
                        }
                    }
                },
                "summary": "Create Plot",
                "operationId": "Create Plot",
                "description": "Creates a new plot",
                "tags": [
                    "Structures"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "description": "Plot name"
                                },
                                "farm_id": {
                                    "type": "number",
                                    "description": "Farm identifier"
                                },
                                "area": {
                                    "type": "number",
                                    "description": "Area in ha"
                                },
                                "geo_points": {
                                    "type": "array",
                                    "description": "Polygon geo points",
                                    "items": {
                                        "$ref": "#/definitions/Geo Point Base"
                                    }
                                }
                            },
                            "required": [
                                "name",
                                "farm_id",
                                "area",
                                "geo_points"
                            ],
                            "example": {
                                "name": "A1",
                                "farm_id": 32,
                                "area": 100,
                                "geo_points": [
                                    {
                                        "latitude": 23233.23,
                                        "longitude": 5432323.23
                                    }
                                ]
                            }
                        }
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/plots/{id}": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "name": "A1",
                                "farm_id": 32,
                                "area": 100,
                                "geo_points": [
                                    {
                                        "latitude": 23233.23,
                                        "longitude": 5432323.23
                                    }
                                ],
                                "id": 42,
                                "updated_at": "2015-05-05T12:30:00"
                            }
                        },
                        "schema": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "description": "Plot name"
                                },
                                "farm_id": {
                                    "type": "number",
                                    "description": "Farm identifier"
                                },
                                "area": {
                                    "type": "number",
                                    "description": "Area in ha"
                                },
                                "geo_points": {
                                    "type": "array",
                                    "description": "Polygon geo points",
                                    "items": {
                                        "$ref": "#/definitions/Geo Point Base"
                                    }
                                },
                                "id": {
                                    "type": "number",
                                    "description": "Plot identifier"
                                },
                                "updated_at": {
                                    "type": "string",
                                    "description": "Date from last update"
                                }
                            },
                            "required": [
                                "name",
                                "farm_id",
                                "area",
                                "geo_points",
                                "id",
                                "updated_at"
                            ]
                        }
                    }
                },
                "summary": "Plot Info",
                "operationId": "Plot Info",
                "description": "Info from a single plot",
                "tags": [
                    "Structures"
                ],
                "parameters": [],
                "produces": [
                    "application/json"
                ]
            },
            "put": {
                "responses": {
                    "201": {
                        "description": "Created",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "name": "A1",
                                "farm_id": 32,
                                "area": 100,
                                "geo_points": [
                                    {
                                        "latitude": 23233.23,
                                        "longitude": 5432323.23
                                    }
                                ],
                                "id": 42,
                                "updated_at": "2015-05-05T12:30:00"
                            }
                        },
                        "schema": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "description": "Plot name"
                                },
                                "farm_id": {
                                    "type": "number",
                                    "description": "Farm identifier"
                                },
                                "area": {
                                    "type": "number",
                                    "description": "Area in ha"
                                },
                                "geo_points": {
                                    "type": "array",
                                    "description": "Polygon geo points",
                                    "items": {
                                        "$ref": "#/definitions/Geo Point Base"
                                    }
                                },
                                "id": {
                                    "type": "number",
                                    "description": "Plot identifier"
                                },
                                "updated_at": {
                                    "type": "string",
                                    "description": "Date from last update"
                                }
                            },
                            "required": [
                                "name",
                                "farm_id",
                                "area",
                                "geo_points",
                                "id",
                                "updated_at"
                            ]
                        }
                    }
                },
                "summary": "Update Plot",
                "operationId": "Update Plot",
                "description": "Updates an existing plot",
                "tags": [
                    "Structures"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "description": "Plot name"
                                },
                                "farm_id": {
                                    "type": "number",
                                    "description": "Farm identifier"
                                },
                                "area": {
                                    "type": "number",
                                    "description": "Area in ha"
                                },
                                "geo_points": {
                                    "type": "array",
                                    "description": "Polygon geo points",
                                    "items": {
                                        "$ref": "#/definitions/Geo Point Base"
                                    }
                                }
                            },
                            "required": [
                                "name",
                                "farm_id",
                                "area",
                                "geo_points"
                            ],
                            "example": {
                                "name": "A1",
                                "farm_id": 32,
                                "area": 100,
                                "geo_points": [
                                    {
                                        "latitude": 23233.23,
                                        "longitude": 5432323.23
                                    }
                                ]
                            }
                        }
                    }
                ],
                "produces": [
                    "application/json"
                ]
            },
            "delete": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {}
                    }
                },
                "summary": "Remove Plot",
                "operationId": "Remove Plot",
                "description": "Removes an existing plot",
                "tags": [
                    "Structures"
                ],
                "parameters": []
            }
        },
        "/pluviometers": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": [
                                {
                                    "id": 42,
                                    "name": "Pluviometer 1",
                                    "latitude": 43.875423,
                                    "longitude": 14.365423,
                                    "start_date": "2015-05-05T12:30:00",
                                    "farm_id": 32,
                                    "updated_at": "2015-05-05T12:30:00"
                                }
                            ]
                        },
                        "schema": {
                            "type": "array",
                            "items": {}
                        }
                    }
                },
                "summary": "Pluviometer List",
                "operationId": "Pluviometer List",
                "description": "Lists all pluviometers",
                "tags": [
                    "Structures"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/Query Page"
                        }
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/storages": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "deleted_since": [],
                                "next_page_url": "http://host.com/api/v1/...",
                                "storages": [
                                    {
                                        "farm_id": 32,
                                        "name": "Almoxarifado Exemplo",
                                        "id": 42,
                                        "default_storage": true,
                                        "updated_at": "2015-05-05T12:30:00"
                                    }
                                ]
                            }
                        },
                        "schema": {
                            "type": "object",
                            "properties": {
                                "deleted_since": {
                                    "type": "array",
                                    "items": {}
                                },
                                "next_page_url": {
                                    "type": "string",
                                    "description": "URL for next page"
                                },
                                "storages": {
                                    "type": "array",
                                    "items": {}
                                }
                            }
                        }
                    }
                },
                "summary": "Storage List",
                "operationId": "Storage List",
                "description": "Lists all storages",
                "tags": [
                    "Structures"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/Query Base"
                        }
                    }
                ],
                "produces": [
                    "application/json"
                ]
            },
            "post": {
                "responses": {
                    "201": {
                        "description": "Created",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "farm_id": 32,
                                "name": "Almoxarifado Exemplo",
                                "id": 42,
[...]
